* {
	box-sizing: border-box
}

html {
	height: 100%;
}
body {
	background-color: #ffffff
	font-size: 16px
	font-family: "PT_SansRegular", sans-serif
	margin: 0
	height: 100%
	-webkit-font-smoothing: subpixel-antialiased
	color: #333
}

header,
nav,
section,
article,
aside,
footer {
	display: block
}

a {
	text-decoration: none
}

.hidden
	display none